---
layout: default
---
<script language="javascript">
    window.addEventListener("hashchange", openTagSection);
    window.addEventListener("DOMContentLoaded", openTagSection);
    function openTagSection() {
        activeTag = location.hash.substr(1);
        console.log(activeTag);
        document.querySelectorAll("div.tag").forEach(function(elem) {
            if(elem.id == activeTag) {
                elem.style = "display: block";
            } else {
                elem.style = "display: none";
            }
        });
    }
</script>
<div id="taglist">
    {% assign sorted_tags = site.tags | sort %}
    {% for tag in sorted_tags %}
    <div class="tag" id="{{ tag[0] }}">
        <h3>{{ tag[0] | capitalize }}</h3>
        {% for post in tag[1] %}
        <div id="post">
            <div><a href="{{ post.url }}">{{ post.title }}</a></div>
            <div>{{ post.date | date: "%Y-%m-%d" }}</div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>