---
---
$background: #151515;
$background-quote-level1: #303030;
$background-quote-level2: #454545;
$color-text: #d0d0d0;
$color-code: #e8b553;
$color-accent: #b5e853;
$color-highlight: #ffffff;
$color-tagcloud: #000000;
$license-background: #a0a0a0;
$license-border: #c0c0c0;
$license-text: #000000;

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: $color-text;
    background: $background url("/assets/img/background.png") fixed;
}

code {
    font-family: 'Cascadia Code', 'Lucida Console', 'Dejavu Sans Mono', 'Courier New', monospace, 'Droid Sans Fallback';
    color: $color-code;
}

a, a:active, a:visited {
    color: $color-accent;
    text-decoration: none;
}

a:hover {
    color: $color-highlight;
}

hr {
    background: $color-accent;
    height: 1px;
    border: none;
}

div.highlighter-rouge, blockquote {
    margin: 0 0;
    padding: 0.5em;
    background: $background-quote-level1;
}

blockquote blockquote {
    background: $background-quote-level2;
}

blockquote p {
    margin: 0;
    padding: 0.25em 0;
}

#main {
    display: grid;
    align-items: flex-start;
    max-width: 1100px;
    margin: 0 auto;
}

@media (min-width: 1100px) {
    #main {
        grid-template-rows: repeat(2, auto);
        grid-template-columns: minmax(50%, auto) minmax(100px, 300px);
    }
}
@media (max-width: 1099px) {
    #main {
        grid-template-rows: repeat(4, auto);
        grid-template-columns: auto;
    }
}

#header {
    grid-column: 1 / -1;
    padding-bottom: 1em;

    img {
        width: 100%;
        max-width: 1200px;
    }
}

#content {
    grid-row: 2;
    border-top: 1px solid $color-accent;
    border-bottom: 1px solid $color-accent;
}

#sidebar {
    padding: 0 0.5em;
}

#sidebar > div {
    margin-bottom: 1em;
}

#navbar {
    ul {
        padding: 0;
        margin: 0;
    }

    li {
        list-style: none outside;
    }
}

#tagcloud {
    a, a:active, a:visited {
        font-size: 0.8em;
        padding: 1px 3px;
        margin: 1px 0px;
        background: $color-accent;
        color: $color-tagcloud;
    }

    a:hover {
        color: $color-tagcloud;
    }
}

#license {
    display: grid;
    align-items: flex-start;
    grid-template-rows: auto;
    grid-template-columns: minmax(auto, 94px) auto;
    border: 1px solid $license-border;
    border-radius: 0.5em;
    padding: 0.5em;
    font-size: 0.75em;
    color: $license-text;
    background: $license-background;

    a, a:active, a:visited {
        color: $license-text;
    }

    a:hover {
        color: $color-highlight;
    }

    img {
        float: left;
        border: none;
        padding: 0 0.5em 0 0;
        margin: 0;
    }
}

#taglist {
    margin-bottom: 1em;

    #post {
        display: flex;
        justify-content: space-between;
    }
}

#post-nav {
    display: flex;
    justify-content: space-between;
    padding: 1px 0;
    border-bottom: 1px solid $color-accent;
}

#post-title {
    padding-top: 0.5em;
    font-size: 1.5em;
    font-weight: bold;

    a, a:active, a:visited {
        color: $color-highlight;
        text-decoration: none;
    }

    a:hover {
        color: $color-accent;
    }
}

#post-info {
    display: flex;
    justify-content: space-between;
}

#post-content {
    h1 {
        font-size: 1.5em;
        font-weight: normal;
        text-decoration: underline;
        margin: 1em 0 0.5em 0;
    }

    h2 {
        font-size: 1.2em;
        font-weight: normal;
        text-decoration: underline;
        margin: 1em 0 0.5em 0;
    }

    h3 {
        font-size: 1.2em;
        font-weight: normal;
        margin: 1em 0 0.5em 0;
    }

    h4 {
        font-size: 1.1em;
        font-weight: bold;
        font-style: italic;
        margin: 1em 0 0.5em 0;
    }

    table {
        border-collapse: collapse;
        thead tr {
            border-bottom: 1px solid white !important;
        }
        tbody tr {
            border-top: 1px solid gray;
        }
        td {
            padding-left: 5px;
            padding-right: 5px;
        }
    }
}
