body {
    color: #d0d0d0;
    background: #151515;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: minmax(50%, auto) minmax(100px, 300px);
    gap: 1em;
    align-items: flex-start;
    max-width: 1100px;
    margin: 0 auto;
}

a, a:active, a:visited {
    color: #b5e853;
}

a:hover {
    color: #ffffff;
}

#header {
    color: #b5e853;
    padding: 0 1em;
    grid-column: 1 / -1;
}

#content {
    grid-row: 2 / -1;
}

#license {
    border: 1px solid #d0d0d0;
    border-radius: 0.5em;
    padding: 0.5em;
    font-size: 0.75em;
    color: #000;
    background: #a0a0a0;
}

#license a, #license a:active, #license a:visited {
    color: #000;
    text-decoration: none;
}

#license a:hover {
    color: #ffffff;
    text-decoration: none;
}

#license img {
    float: left;
    border: none;
    padding: 0 0.5em 0 0;
    margin: 0;
}

#navbar {
}

#navbar ul {
    padding: 0;
}

#navbar li {
    list-style: none outside;
}