body {
    color: #d0d0d0;
    background: #151515;
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: minmax(20em, 3fr) minmax(10em, 1fr);
}

h1, h2, h3, h4, h5 {
    color: #b5e853;
}

#header {
    padding: 0 1em;
    grid-column: 1 / -1;
}

#content {
    grid-row: 2 / -1;
}

#license {
    align-self: flex-start;
    border: 1px solid #d0d0d0;
    border-radius: 0.5em;
    padding: 0.5em;
    font-size: 0.75em;
    color: #000;
    background: #a0a0a0;
}

#license a#imagelink, a#imagelink:active, a#imagelink:visited {
    text-decoration: none;
}

#license img {
    float: left;
    border: none;
    padding: 0 0.5em 0 0;
    margin: 0;
}

#navbar {
}