---
---
$background: #151515;
$color-text: #d0d0d0;
$color-accent: #b5e853;
$color-highlight: #ffffff;
$color-tagcloud: #000000;
$license-background: #a0a0a0;
$license-border: #c0c0c0;
$license-text: #000000;

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: $color-text;
    background: $background url("/assets/img/background.png");
}

a, a:active, a:visited {
    color: $color-accent;
    text-decoration: none;
}

a:hover {
    color: $color-highlight;
}

hr {
    background: $color-accent;
    height: 1px;
    border: none;
}

#main {
    display: grid;
    gap: 1em;
    align-items: flex-start;
    max-width: 1100px;
    margin: 0 auto;
}

@media (min-width: 1100px) {
    #main {
        grid-template-rows: repeat(2, auto);
        grid-template-columns: minmax(50%, auto) minmax(100px, 300px);
    }
}
@media (max-width: 1099px) {
    #main {
        grid-template-rows: repeat(4, auto);
        grid-template-columns: auto;
    }
}

#header {
    grid-column: 1 / -1;
}

#header img {
    width: 100%;
    max-width: 1200px;
}

#content {
    grid-row: 2;
    border-top: 1px solid $color-accent;
    border-bottom: 1px solid $color-accent;
}

#sidebar > div {
    margin-bottom: 1em;
}

#navbar ul {
    padding: 0;
    margin: 0;
}

#navbar li {
    list-style: none outside;
}

#tagcloud a, #tagcloud a:active, #tagcloud a:visited {
    font-size: 0.8em;
    padding: 1px 3px;
    margin: 1px 0px;
    background: $color-accent;
    color: $color-tagcloud;
}

#tagcloud a:hover {
    color: $color-tagcloud;
}
#license {
    border: 1px solid $license-border;
    border-radius: 0.5em;
    padding: 0.5em;
    font-size: 0.75em;
    color: $license-text;
    background: $license-background;
}

#license a, #license a:active, #license a:visited {
    color: $license-text;
}

#license a:hover {
    color: $color-highlight;
}

#license img {
    float: left;
    border: none;
    padding: 0 0.5em 0 0;
    margin: 0;
}

#taglist {
    margin-bottom: 1em;
}

#taglist #post {
    display: flex;
    justify-content: space-between;
}

#post-nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $color-accent;
}

#post-title {
    font-size: 1.5em;
    font-weight: bold;
}

#post-info {
    display: flex;
    justify-content: space-between;
}

#post-content h1 {
    font-size: 1.5em;
    font-weight: normal;
    text-decoration: underline;
    margin: 1em 0 0.5em 0;
}

#post-content h2 {
    font-size: 1.2em;
    font-weight: normal;
    text-decoration: underline;
    margin: 1em 0 0.5em 0;
}

#post-content h3 {
    font-size: 1.2em;
    font-weight: normal;
    margin: 1em 0 0.5em 0;
}

#post-content h4 {
    font-size: 1.1em;
    font-weight: bold;
    font-style: italic;
    margin: 1em 0 0.5em 0;
}
