---
banner: banner.txt
---
<!DOCTYPE html>
<html lang='{{ site.lang | default: "en-US" }}'>

<head>
    <meta charset='utf-8'>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="expires" content="-1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/main.css">
    {% seo %}
</head>

<body>
<div id="main">
    <div id="header">
        <img src="/assets/img/banner.png" />
    </div>

    <div id="content">
        {{ content }}
    </div>

    <div id="sidebar">
        <div id="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about.html">About & Legal</a></li>
                <li><a href="/wetter-karlsruhe.html" target="_blank">Weather Karlsruhe</a></li>
            </ul>
        </div>

        <div id="tagcloud">
            {% assign sorted_tags = site.tags | sort %}
            {% for tag in sorted_tags %}
                    <a href="/taglist.html#{{ tag[0] }}">{{ tag[0] | capitalize }} ({{ tag[1] | size }})</a>
            {% endfor %}
        </div>

        <div id="license">
            <a id="imagelink" rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
                <img alt="Creative Commons License" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
            </a>
            This work is licensed under a
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
                Creative Commons Attribution-ShareAlike 4.0 International License
            </a>.
        </div>
    </div>
</div>
</body>

</html>