<!DOCTYPE html>
<html lang='{{ site.lang | default: "en-US" }}'>

<head>
    <meta charset='utf-8'>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="expires" content="-1">
    <meta name="referrer" content="no-referrer">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="me" href="https://mastodon.social/@soerenkoehler">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="icon" href="/assets/img/eye.png" type="image/png">
    <link rel="alternate" type="application/rss+xml" title="Code, the Universe and Everything" href="http://soerenkoehler.de/feed.xml" />
    {% seo %}
</head>

<body>
<div id="main">
    <div id="header">
        <img src="/assets/img/banner.png" />
    </div>

    <div id="content">
        {{ content }}
    </div>

    <div id="sidebar">
        <div id="navbar">
            <ul>
                <li>
                    <a href="/">Home</a>
                    &nbsp;|&nbsp;
                    <a href="/about.html">About</a>
                    &nbsp;|&nbsp;
                    <a href="/legal.html">Legal</a>
                </li>
                <li><a href="/wetter-karlsruhe.html" target="_blank">Weather Karlsruhe</a></li>
            </ul>
        </div>

        <div id="tagcloud">
            {% assign sorted_tags = site.tags | sort %}
            {% for tag in sorted_tags %}
                    <a href="/taglist.html#{{ tag[0] | replace: ' ', '-' }}">{{ tag[0] | capitalize }}&nbsp;({{ tag[1] | size }})</a>
            {% endfor %}
        </div>

        <div id="license">
            <div>
                <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
                <img alt="Creative Commons BY SA 4.0" src="/assets/img/ccbysa.png" /></a>
            </div>
            <div>This work is licensed under a
                <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
                Creative Commons Attribution-ShareAlike 4.0 International License</a>.
            </div>
        </div>

        <div>
            Hosted on <a href="http://github.com/soerenkoehler/soerenkoehler.github.io" target="_blank">Github</a>
            |
            <a href="/feed.xml" target="_blank"><img style="vertical-align: middle; margin-bottom: 2px;margin-right: 4px;" src="/assets/img/feed.png">RSS</a>
        </div>
    </div>
</div>
</body>

</html>
