---
layout: default
---
<div id="post-nav">
    <div>{% if page.previous %}<a href="{{ page.previous.url }}">&LeftArrow;{{ page.previous.title }}{% else %}&nbsp{% endif %}</a></div>
    <div>{% if page.next %}<a href="{{ page.next.url }}">{{ page.next.title }}&RightArrow;{% else %}&nbsp{% endif %}</a></div>
</div>
<div id="post-title">
    <a href="{{ page.url }}">{{ page.title }}</a>
</div>
<div id="post-info">
    <div id="post-date">{{ page.date | date: "%Y-%m-%d" }}</div>
    <div id="post-tags">
        Tags:
        {% for tag in page.tags %}
        <a href="/taglist.html#{{ tag }}">{{ tag | capitalize }}</a>
        {% endfor %}
    </div>
</div>
<div id="post-content">{{ content }}</div>
